extend shared/_layout
block content
  form.form-signin(action="/login", method="post")
    h2.form-signin-heading Please sign in
    label.sr-only (for="inputUsername")Username
    input#inputUsername.form-control(type="text", placeholder="Username", name="inputUsername", required, autofocus)
    label.sr-only (for="inputPassword")Password
    input#inputPassword.form-control(type="password", placeholder="Password", name="inputPassword", required)
    button(class="btn btn-lg btn-primary btn-block", type="submit")
      |Sign in
    p Use the username #[b example] and the password #[b password].
    if loginFailed
      h4 Login failed!